<%- include('../partials/header') %>

<div class="show-beer-page">
    <main>
        <h1><%= beer.name %></h1>
        <p><%= beer.style %></p>
        <form method="POST" action="/beers/<%= beer._id %>?_method=DELETE">
            <button class="delete button" type="submit">DELETE BEER</button>
        </form>
        <h3>Beers:</h3>
            <% beer.bars.forEach(function(bar) { %>
                <p><%= bar.name %></p>
            <% }); %>
            
        <h3>Add a Comment</h3>
        <form method="POST" action="/beers/<%= beer._id %>/comments">
            <input type="text" name="content" placeholder="Enter the comment">
            <br>
            <br>
            <input class="button" type="submit" value="Add Comment">
            <h3>Comments:</h3>
                <% beer.comments.forEach(comment => { %>
                    <div class="beer-comments">
                        <p><%= comment.content %></p>        
                        <p><%= comment.createdAt.toString() %></p>
                    </div>
                <% }) %>
        </form>            
    </main>
</div>

<%- include('../partials/footer') %>