<%- include('../partials/header') %>

<div class="bars-show">
    <main>
        <h1><%= bar.name %></h1>
        <p><%= bar.location %></p>
        <form method="POST" action="/bars/<%= bar._id %>?_method=DELETE">
            <button class="delete sm-btn" type="submit">DELETE BAR</button>
        </form>
        <h3>Beers:</h3>
            <% bar.beers.forEach(function(beer) { %>
                <div class="beers">
                    <div class="beer-ctn">
                        <h3><%= beer.name %></h3>
                    </div>
                    <form action="/bars/<%= bar._id %>/beers/<%= beer._id %>?_method=DELETE" method="post">
                        <button class="sm-btn" type="submit">Stop Serving</button>
                    </form>
                </div>
            <% }); %>
        <div>
            <h3>Add a Beer for this Bar</h3>
            <form method="POST" action="/bars/<%= bar._id %>/beers">
                <select name="beers">
                    <% beers.forEach(function(beer) { %>
                        <option value="<%= beer._id %>"><%= beer.name %></option>
                    <% }); %>
                </select>
                <br>
                <br>
                <input class="button" type="submit" value="ADD BEER">
            </form>
        </div>
    </main>

</div>

<%- include('../partials/footer') %>